@model ReservaEN.ReservacionEN
@{
    ViewData["Title"] = "EliminarReservacion";
    Layout = "~/Views/Shared/Administrador.cshtml";
}

<h1>EliminarReservacion</h1>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-header bg-danger text-white text-center">
                    <h4><i class="bi bi-trash-fill"></i> Eliminar Reservacion</h4>
                </div>
                <div class="card-body p-4 text-center">
                    <p class="fs-5">¿Está seguro que desea eliminar la siguiente Reservacion?</p>

                    <ul class="list-group mb-4">
                        <li class="list-group-item"><strong>Id:</strong> @Model.Id</li>
                        <li class="list-group-item"><strong>Nombre:</strong> @Model.Nombre_Usuario</li>
                        <li class="list-group-item"><strong>Apellido:</strong> @Model.Apellido_Usuario</li>
                        <li class="list-group-item"><strong>Mesa:</strong> @Model.Nombre_Mesa</li>
                        <li class="list-group-item"><strong>Numero De Mesa:</strong> @Model.Nombre_NumeroDeMesa</li>
                        <li class="list-group-item"><strong>Fecha de Reservacion/Inicio:</strong> @Model.FechaDeReservacion</li>


                    </ul>

                    <form asp-action="EliminarReservacion" method="post" id="EliminarReservacionForm">
                        <input type="hidden" asp-for="Id" />
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i> Eliminar
                            </button>
                            <a asp-action="MostrarReservacion" class="btn btn-secondary">
                                <i class="bi bi-x-circle"></i> Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Reservacion.js"></script>
}

